@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: initial;
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-200;
  }

  h1 {
    @apply text-4xl mb-5;
  }

  h2 {
    @apply text-2xl mt-8 mb-4;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply mb-5;
  }
}

@layer components {
  .home-layout {
    @apply my-0 mx-auto w-screen max-w-4xl;
  }

  .header-nav {
    @apply flex justify-center items-center h-14 w-full z-10 sticky top-0 bg-gray-900 bg-opacity-90;
  }

  .header-nav > .head-cont {
    @apply flex items-center justify-between w-900px;
  }

  .head-cont .title {
    @apply text-xl mb-0;
  }

  .header-nav > .head-cont > .navs > a {
    @apply ml-8;
  }

  .section-title {
    @apply text-4xl -ml-10 mb-10 self-start;
  }

  .introduction-section,
  .skills-section,
  .projects-map-section {
    @apply mb-11;
  }

  /* INTRODUCTION */
  .introduction-section {
    @apply flex justify-center items-center w-full;
    height: calc(100vh - 140px);
  }

  .intro-cont {
    @apply w-3/5 m-0;
  }

  .intro-cont > .title {
    @apply text-7xl;
  }

  .intro-cont > .subtitle {
    @apply text-4xl;
  }

  /* BLOG */
  .blog-section {
    min-height: calc(100vh - 140px);
  }

  /* SKILLS */
  .skills-section,
  .skills-cont {
    @apply flex flex-col justify-center items-center w-full;
  }

  .skills-cont > .tabs {
    @apply flex flex-1 select-none overflow-x-hidden items-stretch justify-center w-full py-3 px-0 m-0;
  }

  .skills-cont > .tabs > li {
    @apply cursor-pointer flex flex-col flex-1 justify-center items-center px-4 py-3 list-none border-b border-gray-800;
  }

  .skills-cont > .tabs > li.active-tab {
    @apply bg-gray-800 border-gray-700;
  }

  .skills-cont > section {
    @apply flex-1 select-none w-full;
  }

  .skills-cont > section > ul {
    @apply flex items-center justify-evenly w-full m-0 p-0;
  }

  .skills-cont > section > ul li {
    @apply flex flex-1 flex-col list-none justify-center items-center p-2 m-0;
  }

  /* PROJECTS */
  .cards-cont {
    @apply grid grid-cols-3 gap-4 items-stretch justify-start;
  }

  .cards-cont > .project-card {
    @apply flex flex-col select-none justify-between items-start p-4 w-full rounded bg-gray-800 shadow-lg;
  }

  .project-card > .header {
    @apply flex items-center justify-between w-full pb-4;
  }

  .project-card > .description {
    @apply flex-1 cursor-default pb-4 m-0 italic;
  }

  .project-card > .navigation {
    @apply text-2xl w-full self-end text-right;
  }

  .folder-open {
    @apply hidden ml-1;
  }

  .project-card:hover .folder-open {
    @apply block;
  }

  .project-card:hover .folder-closed {
    @apply hidden;
  }
}
